.container {
  @apply mx-auto my-5 p-8;
  @apply border border-gray-light-1;
  @apply rounded-lg;
  @apply shadow-lg;
  @apply max-w-160;
  @apply grid grid-cols-1 gap-x-1 justify-items-center;
  @apply md:grid-cols-2 md:text-base md:justify-items-start;

  text-wrap: balance;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";

  @screen md {
    grid-template-areas:
      "a a"
      "b d"
      "c d";
  }
}

.container > h3 {
  @apply justify-self-center;

  grid-area: a;
}

.container > div:nth-child(2) {
  grid-area: b;
}

.container > div:nth-child(3) {
  grid-area: c;
}

.map-link {
  @apply transition duration-default ease-in-out;
  @apply px-4 py-2;
  @apply text-red border-red border-solid border;
  @apply hover:border-red-dark hover:text-red-dark hover:bg-red-light;
  @apply rounded-full;
  @apply mt-2;
  @apply md:self-center md:justify-self-end md:mt-0;

  grid-area: d;
}

.inline-icon {
  @apply h-4 inline mb-0.5;
}
